### Variables, Integer and print function

- 'a' is a variable. Variable is a place to store values.
- '1' is the value assigned to 'a'.
- '=' is an assignment operator.
- print is a function used to print things to standard output.
- single quotes - '', double quotes - "" and triple quotes - '''''' are used to represent strings.
- curly braces - {} in f strings - f'' are used to evaluate a variable or an expression.
- \n is a special character new line character

In [21]:
name = 'Ajesh Mishra'
age = 30
company = "BNYM"
address = '''TB/41, Nalco Nagar
Angul - 759145
Odisha
India'''

print(f'''My name is {name}, I am {age} years old and I work at {company}. 
Here is my address: {address}''')

My name is Ajesh Mishra, I am 30 years old and I work at BNYM.
Here is my address: TB/41, Nalco Nagar
Angul - 759145
Odisha
India

### Useful built-in functions - (type, help and dir)

In [13]:
name = 'Ajesh Mishra'
age = str(30)
company = "BNYM"
address = '''TB/41, Nalco Nagar
Angul - 759145
Odisha
India'''

print(f'''name is of type: {type(name)}, age is of type: {type(age)}, 
company is of type: {type(company)} and address is of type: {type(address)}''')

name is of type: <class 'str'>, age is of type: <class 'str'>,
company is of type: <class 'str'> and address is of type: <class 'str'>

### Integers
All types of numbers in Python are clubed into one datatype called Integers

In [14]:
a = 10
print(f'The variable "a" is an {type(a)} datatype with value {a}."')

The variable "a" is an <class 'int'> datatype with value 10."

Decimals

In [23]:
b = 1.1
print(f'The variable "b" is an {type(b)} datatype with value {b}."')

The variable "b" is an <class 'float'> datatype with value 1.1."

Negetives

In [22]:
c = -2
print(f'The variable "c" is an {type(c)} datatype with value {c}."')

The variable "c" is an <class 'int'> datatype with value -2."

Even large numbers

In [21]:
d = 7497302082374748
print(f'The variable "d" is an {type(d)} datatype with value {d}."')

The variable "d" is an <class 'int'> datatype with value 7497302082374748."